<h1>Results coming soon!</h1>

<h4><%= @fx_request.requested_date %></h4>
<h4><%= @fx_request.amount %></h4>
<h4><%= @fx_request.from_currency %></h4>
<h4><%= @fx_request.to_currency %></h4>

<h4><%= @result %></h4>

<form>
    <button formaction="/">Exchange Again</button>
</form>