<div id="result-div">

  <h2>On <%= @fx_request.requested_date %>:   <%= @fx_request.amount %> <%= @fx_request.from_currency %> converts to <%= @result %> <%= @fx_request.to_currency %>. </h2>

  <form>
    <button formaction="/" id="back-button">Convert Again</button>
  </form>

</div>

