<div id="result-div">

  <p>On <%= @fx_request.requested_date %>:</p> 
  <p><%= @fx_request.amount %> <%= @fx_request.from_currency %> 
  converts to <%= @result %> <%= @fx_request.to_currency %>.</p>

  <form>
    <button formaction="/" id="back-button">Convert Again</button>
  </form>

</div>

