<div id="result-div">

  <p>On <%= @fx_request.requested_date %>:</p> 
  <p><%= @fx_request.amount.to_f %> <%= @fx_request.base_currency %></p> 
  <p>At rate: <%= @rate.round(5) %> </p>
  <p>Converts to: <%= @result.round(2) %> <%= @fx_request.counter_currency %></p>

  <form>
    <button formaction="/" id="back-button">Convert Again</button>
  </form>

</div>

